.footer {
    padding-top: 100px;
    background: url(../images/footer/footer.png) center;
    height: 100%;
    width: 100%;

   .container{
     display: flex;
     justify-content: space-around;
     top:50px;
   }

    &__title {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 62px;
        line-height: 85px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 250px;
    }

    &__item1 {
        list-style:none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
    }

    &__col1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #7884A6;
    }

    &__item2 {
        list-style:none;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    &__col2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        color: #7884A6;

    }

    &__item3 {
        list-style:none;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    &__col3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        color: #7884A6;
    }

    &__item4 {
        list-style:none;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    &__col4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        color: #7884A6;

    }
}