.header{
    margin-top: 26px;
    background: white;

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__logo{
            margin-left: 90px;
        }

        &__nav{
            display: flex;
            column-gap: 70px;
        }
        
        .nav-item{
            list-style: none;
        }

        .nav-link{
            text-decoration: none;
            font-family: Inter;
            font-size: 16px;
            line-height: 0px;
            color: black;
            margin-right: 20px;
        }


        .btn1{
            text-decoration: none;
            color: black;
            border: none;
            cursor: pointer;
            align-items: flex-end;
            justify-content: end;
            font-size:  17px;
            background: #ffff;
            margin-right: 15px;
        }

        .btn2{
            text-decoration: none;
            color: white;
            border: none;
            cursor: pointer;
            align-items: flex-end;
            justify-content: end;
            width: 150px;
            height: 50px;
            background: #0555FF;
            border-radius: 30px;
        }
    }
}