* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
}

@import './header';
@import './growup';
@import './award';
@import './develop';
@import './build';
@import './update';
@import './otzuvy';
@import './footer';
@import './media';